{
  "extends": ["airbnb", "react-app"],
  "rules": {
    "react/prop-types": 1,
    "no-console": 0,
    "react/jsx-filename-extension": 0,
    "object-curly-newline": [
      "error",
      {
        "multiline": true,
        "consistent": true
      }
    ],
    "react/jsx-indent": 0,
    "function-paren-newline": 0,
    "arrow-parens": 0,
    "no-underscore-dangle": ["error", { "allowAfterThis": true }]
  }
}
